
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

/* Header CSS */

.Homepage-header {

  background-color: var(--magenta);
  height: 100px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.menu {

  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.menu-icon {

  object-fit: contain;
  height: 50px;
  background-color: transparent;

}

.menu-icon-button {
  width: 140px;
  height: 100%;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;
}

.menu-icon-button:hover { 
  cursor: pointer;
  background-color: var(--cyan);
}


.Website-Title {

  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.title-text {

  font-size: 50px;
  font-style: italic;
  font-weight: 400;
  color: var(--base02);
  padding-left: 10px;

}

.info-section {

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding-left: 3px;
  transition: background-color 0.4s;

}

.info-section:hover {
  background-color: var(--cyan);
}

.info-links {

  text-decoration: none;
  color: white;

}


@media (max-width: 735px) {
  .title-text {
    font-size: 38px;
    font-style: italic;
    font-weight: 400;
    color: var(--base02);
    padding-left: 40px;
    padding-top: 20px;
  }
}

/* End of Header CSS */

/* Body-text CSS*/

.body-text {

  background-color: lightblue;
  margin-top: 250px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.home-msg {

  font-size: 70px;

}

.homepage-goal-header {

  text-decoration: underline var(--green);
  color: var(--base03);
  font-size: 60px;
  
}

.homepage-goal-tracker {

  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.no-goals-msg {

  font-size: 25px;

}

.no-goals-link {

  color: white;
  text-decoration: underline white;

}