:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}


.s_s {

  margin-top: 250px;
  margin-left: 200px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  background-color: #e3bc48;

}

.strengths, .skills {

  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.strengths-header {

  display: flex;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  color: var(--base2);
  text-decoration: underline var(--red);

}

.skills-header {

  display: flex;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  color: var(--base2);
  text-decoration: underline var(--red);

}

.add-s-button, 
.done-button {

  background-color: var(--base03);
  color: white;
  font-family: Mukta, Arial;
  transition: background-color 0.3s;
  margin-bottom: 5px;

}

.add-s-button:hover,
.done-button:hover {

  cursor: pointer;
  background-color: var(--blue);
  border-width: 1px;
}


.s_s-input-section {

  border: 1px solid black;
  margin: 5px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 100%;
}

.inputs {

  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #859900;
  justify-content: center;
  flex: 1;
  margin-left: 10px;
}

.strength-name-input {

  border: none;
  margin-bottom: 15px;
  width: 200px;
  color: wheat;
  background-color: var(--violet);
  border: 1px solid var(--yellow);
  border-radius: 5px;
  font-size: 18px;
  
}

.strength-name-input::placeholder,
.description-box::placeholder {
  color: var(--cyan);
  font-family: Mukta, Arial;
  font-size: 15px;
  padding: 5px;
  
}

.description-box {
  border: 1px solid var(--yellow);
  height: 30px;
  resize: none;
  background-color: var(--violet);
  color: wheat;
  width: 300px;
  border-radius: 5px;
  font-size: 15px;

}

.done-button-container {

  width: 70px;
  background-color: aqua;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.js-strength-box {

  width: 100%;
}

.strength-box {

  /*border: 1.5px solid black;*/
  box-shadow: 0 0 5px 5px rgba(256, 256, 256, 0.5);
  margin: 25px;
  border-radius: 10px;
  /*align-self: stretch;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.remove-strength-button {

  width: 20px;
  height: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: none;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  color: var(--base2);
  position: absolute;
  right: -10px;
  top: -10px;
}

.remove-strength-button:hover {
  cursor: pointer;
  opacity: 1;
}

.strength-name {

  color: var(--green);
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

.strength-description {

  color: var(--orange);
  padding: 8px;

}
